.row {
  padding: 2rem;
}
ul {
  list-style: none;
}
select {
  height: 35px;
  background-color: #fff;
  border: solid 1px #CCCCCC;
  border-radius: 5px;
}
.form-line {
  border: solid 2px #EEEEEE;
  margin: 0 10%;
  padding: 5%;
}
.labels input {
  margin-left: 30px;
}
